.packages .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}

.packages .box-container .box {
  border: var(--border);
  box-shadow: var(--box-shadow);
  background: var(--white);
  display: none;
}

.packages .box-container .box:nth-child(1),
.packages .box-container .box:nth-child(2),
.packages .box-container .box:nth-child(3),
.packages .box-container .box:nth-child(4),
.packages .box-container .box:nth-child(5),
.packages .box-container .box:nth-child(6) {
  display: inline-block;
}

.packages .box-container .box:hover .image img {
  transform: scale(1.1);
}

.packages .box-container .box .image {
  height: 25rem;
  overflow: hidden;
}

.packages .box-container .box .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: 0.2s linear;
}

.packages .box-container .box .content {
  padding: 2rem;
  text-align: center;
}

.packages .box-container .box .content h3 {
  font-size: 2.5rem;
  color: var(--black);
}

.packages .box-container .box .content .price {
  font-weight: 600;
  color: var(--text-color-1);
  font-size: 2.5rem;
  text-align: center;
}

.packages .box-container .box .content .price span {
  font-weight: lighter;
  color: var(--text-color-2);
  font-size: 1.5rem;
  text-decoration: line-through;
}

.packages .box-container .box .content p {
  font-size: 1.5rem;
  color: var(--light-black);
  line-height: 2;
  padding: 1rem 0;
}

.packages .load-more {
  text-align: center;
  margin-top: 2rem;
}

.details-container {
  display: grid;
}

.details-container .fas {
  margin-right: 0.5rem;
  color: #8e44ad;
}
