{% extends "__base.html" %}
{% load static %}
{% block content %}
<!-- home section starts  -->

<section class="home">
  <div class="swiper home-slider">
    <div class="swiper-wrapper">
      <div
        class="swiper-slide slide"
        style="background: url('{% static 'images/home-slide-1.jpg' %}') no-repeat"
      >
        <div class="content">
          <span>explore, discover, travel</span>
          <h3>travel arround the world</h3>
          <a href="{% url 'package' %}" class="btn">discover more</a>
        </div>
      </div>

      <div
        class="swiper-slide slide"
        style="background: url('{% static 'images/home-slide-2.jpg' %}') no-repeat"
      >
        <div class="content">
          <span>explore, discover, travel</span>
          <h3>discover the new places</h3>
          <a href="{% url 'package' %}" class="btn">discover more</a>
        </div>
      </div>

      <div
        class="swiper-slide slide"
        style="background: url('{% static 'images/home-slide-3.jpg' %}') no-repeat"
      >
        <div class="content">
          <span>explore, discover, travel</span>
          <h3>make your tour worthwhile</h3>
          <a href="{% url 'package' %}" class="btn">discover more</a>
        </div>
      </div>
    </div>

    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</section>

<!-- home section ends -->

<!-- services section starts  -->

<section class="services">
  <h1 class="heading-title">Various destinations across 6 continents!</h1>

  <div class="box-container">
    {% for kontinent in kontinenti %}
    <div class="box">
      <img src="{% static kontinent.image %}" alt="" />
      <h3>{{ kontinent.name }}</h3>
    </div>
    {% endfor %}
  </div>
</section>

<!-- services section ends -->

<!-- home about section starts  -->

<section class="home-about">
  <div class="image">
    <img src="{% static 'images/about-img.jpg' %}" alt="" />
  </div>

  <div class="content">
    <h3>about us</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita et,
      recusandae nobis fugit modi quibusdam ea assumenda, nulla quisquam
      repellat rem aliquid sequi maxime sapiente autem ipsum? Nobis,
      provident voluptate?
    </p>
    <a href="{% url 'about' %}" class="btn">read more</a>
  </div>
</section>

<!-- home about section ends -->

<!-- home packages section starts  -->

<section class="home-packages">
  <h1 class="heading-title">our packages</h1>

  <div class="box-container">
    <div class="box">
      <div class="image">
        <img src="{% static 'images/p-1.jpg' %}" alt="" />
      </div>
      <div class="content">
        <h3>Mumbai February 2023</h3>
        <div class="grid--2-cols details-container">
          <p><i class="fas fa-location-arrow"></i><span>Mumbai</span></p>
          <p><i class="fas fa-plane"></i><span>Airplane</span></p>
          <p><i class="fas fa-calendar"></i><span>3.2.2023</span></p>
          <p><i class="fas fa-calendar"></i><span>15 days</span></p>
        </div>
        <a href="{% url 'vacation' %}" class="btn">book now</a>
      </div>
    </div>

    <div class="box">
      <div class="image">
        <img src="{% static 'images/p-2.jpg' %}" alt="" />
      </div>
      <div class="content">
        <h3>Hawaii February 2023</h3>
        <div class="grid--2-cols details-container">
          <p><i class="fas fa-location-arrow"></i><span>Hawaii</span></p>
          <p><i class="fas fa-plane"></i><span>Airplane</span></p>
          <p><i class="fas fa-calendar"></i><span>3.2.2023</span></p>
          <p><i class="fas fa-calendar"></i><span>15 days</span></p>
        </div>
        <a href="{% url 'vacation' %}" class="btn">book now</a>
      </div>
    </div>

    <div class="box">
      <div class="image">
        <img src="{% static 'images/p-3.jpg' %}" alt="" />
      </div>
      <div class="content">
        <h3>Sydney February 2023</h3>
        <div class="grid--2-cols details-container">
          <p><i class="fas fa-location-arrow"></i><span>Sydney</span></p>
          <p><i class="fas fa-plane"></i><span>Airplane</span></p>
          <p><i class="fas fa-calendar"></i><span>3.2.2023</span></p>
          <p><i class="fas fa-calendar"></i><span>15 days</span></p>
        </div>
        <a href="{% url 'vacation' %}" class="btn">book now</a>
      </div>
    </div>
  </div>

  <div class="load-more">
    <a href="{% url 'package' %}" class="btn">load more</a>
  </div>
</section>

<!-- home packages section ends -->
{% endblock content %}