{% extends "__base.html" %}
{% load static %}
{% block content %}
  <div class="heading"
       style="background: url({% static 'images/header-bg-2.png' %}) no-repeat">
    <h1>packages</h1>
  </div>
  <section class="form-container" data-aos="zoom-in">
    <form action="">
      <div class="inputBox">
        <span>Continent</span>
        <input type="text" placeholder="search by continent" />
      </div>
      <div class="inputBox">
        <span>Country</span>
        <input type="text" placeholder="search by country" />
      </div>
      <div class="inputBox">
        <span>Transport type</span>
        <input type="text" placeholder="search by type of transport" />
      </div>
      <div class="inputBox">
        <span>arrivals</span>
        <input type="date" />
      </div>
      <div class="inputBox">
        <span>leaving</span>
        <input type="date" />
      </div>
      <input type="submit" value="Search" class="btn" />
    </form>
  </section>
  <!-- packages section starts  -->
  <section class="packages">
    <h1 class="heading-title">top destinations</h1>
    <div class="box-container">
      <div class="box">
        <div class="image">
          <img src="{% static 'images/p-1.jpg' %}" alt="" />
        </div>
        <div class="content">
          <h3>Mumbai February 2023</h3>
          <div class="price">
            $290.99 <span>$350.99</span>
          </div>
          <div class="grid--2-cols details-container">
            <p>
              <i class="fas fa-location-arrow"></i><span>Mumbai</span>
            </p>
            <p>
              <i class="fas fa-plane"></i><span>Airplane</span>
            </p>
            <p>
              <i class="fas fa-calendar"></i><span>3.2.2023</span>
            </p>
            <p>
              <i class="fas fa-calendar"></i><span>15 days</span>
            </p>
          </div>
          <a href="{% url 'vacation' %}" class="btn">book now</a>
        </div>
      </div>
      <div class="box">
        <div class="image">
          <img src="{% static 'images/p-2.jpg' %}" alt="" />
        </div>
        <div class="content">
          <h3>Hawaii February 2023</h3>
          <div class="price">
            $290.99 <span>$350.99</span>
          </div>
          <div class="grid--2-cols details-container">
            <p>
              <i class="fas fa-location-arrow"></i><span>Hawaii</span>
            </p>
            <p>
              <i class="fas fa-plane"></i><span>Airplane</span>
            </p>
            <p>
              <i class="fas fa-calendar"></i><span>3.2.2023</span>
            </p>
            <p>
              <i class="fas fa-calendar"></i><span>15 days</span>
            </p>
          </div>
          <a href="{% url 'vacation' %}" class="btn">book now</a>
        </div>
      </div>
      <div class="box">
        <div class="image">
          <img src="{% static 'images/p-3.jpg' %}" alt="" />
        </div>
        <div class="content">
          <h3>Sydney February 2023</h3>
          <div class="price">
            $290.99 <span>$350.99</span>
          </div>
          <div class="grid--2-cols details-container">
            <p>
              <i class="fas fa-location-arrow"></i><span>Sydney</span>
            </p>
            <p>
              <i class="fas fa-plane"></i><span>Airplane</span>
            </p>
            <p>
              <i class="fas fa-calendar"></i><span>3.2.2023</span>
            </p>
            <p>
              <i class="fas fa-calendar"></i><span>15 days</span>
            </p>
          </div>
          <a href="{% url 'vacation' %}" class="btn">book now</a>
        </div>
      </div>
      <div class="box">
        <div class="image">
          <img src="{% static 'images/img-4.jpg' %}" alt="" />
        </div>
        <div class="content">
          <h3>
            Mumbai February 2023
          </h3>
          <div class="price">
            $290.99 <span>$350.99</span>
          </div>
          <div class="grid--2-cols details-container">
            <p>
              <i class="fas fa-location-arrow"></i><span>Mumbai</span>
            </p>
            <p>
              <i class="fas fa-plane"></i><span>Airplane</span>
            </p>
            <p>
              <i class="fas fa-calendar"></i><span>3.2.2023</span>
            </p>
            <p>
              <i class="fas fa-calendar"></i><span>15 days</span>
            </p>
          </div>
          <a href="{% url 'vacation' %}" class="btn">book now</a>
        </div>
      </div>
      <div class="box">
        <div class="image">
          <img src="{% static 'images/img-5.jpg' %}" alt="" />
        </div>
        <div class="content">
          <h3>
            Mumbai February 2023
          </h3>
          <div class="price">
            $290.99 <span>$350.99</span>
          </div>
          <div class="grid--2-cols details-container">
            <p>
              <i class="fas fa-location-arrow"></i><span>Mumbai</span>
            </p>
            <p>
              <i class="fas fa-plane"></i><span>Airplane</span>
            </p>
            <p>
              <i class="fas fa-calendar"></i><span>3.2.2023</span>
            </p>
            <p>
              <i class="fas fa-calendar"></i><span>15 days</span>
            </p>
          </div>
          <a href="{% url 'vacation' %}" class="btn">book now</a>
        </div>
      </div>
      <div class="box">
        <div class="image">
          <img src="{% static 'images/img-6.jpg' %}" alt="" />
        </div>
        <div class="content">
          <h3>
            Mumbai February 2023
          </h3>
          <div class="price">
            $290.99 <span>$350.99</span>
          </div>
          <div class="grid--2-cols details-container">
            <p>
              <i class="fas fa-location-arrow"></i><span>Mumbai</span>
            </p>
            <p>
              <i class="fas fa-plane"></i><span>Airplane</span>
            </p>
            <p>
              <i class="fas fa-calendar"></i><span>3.2.2023</span>
            </p>
            <p>
              <i class="fas fa-calendar"></i><span>15 days</span>
            </p>
          </div>
          <a href="{% url 'vacation' %}" class="btn">book now</a>
        </div>
      </div>
      <div class="box">
        <div class="image">
          <img src="{% static 'images/img-7.jpg' %}" alt="" />
        </div>
        <div class="content">
          <h3>
            Mumbai February 2023
          </h3>
          <div class="price">
            $290.99 <span>$350.99</span>
          </div>
          <div class="grid--2-cols details-container">
            <p>
              <i class="fas fa-location-arrow"></i><span>Mumbai</span>
            </p>
            <p>
              <i class="fas fa-plane"></i><span>Airplane</span>
            </p>
            <p>
              <i class="fas fa-calendar"></i><span>3.2.2023</span>
            </p>
            <p>
              <i class="fas fa-calendar"></i><span>15 days</span>
            </p>
          </div>
          <a href="{% url 'vacation' %}" class="btn">book now</a>
        </div>
      </div>
      <div class="box">
        <div class="image">
          <img src="{% static 'images/img-8.jpg' %}" alt="" />
        </div>
        <div class="content">
          <h3>
            Mumbai February 2023
          </h3>
          <div class="price">
            $290.99 <span>$350.99</span>
          </div>
          <div class="grid--2-cols details-container">
            <p>
              <i class="fas fa-location-arrow"></i><span>Mumbai</span>
            </p>
            <p>
              <i class="fas fa-plane"></i><span>Airplane</span>
            </p>
            <p>
              <i class="fas fa-calendar"></i><span>3.2.2023</span>
            </p>
            <p>
              <i class="fas fa-calendar"></i><span>15 days</span>
            </p>
          </div>
          <a href="{% url 'vacation' %}" class="btn">book now</a>
        </div>
      </div>
      <div class="box">
        <div class="image">
          <img src="{% static 'images/img-9.jpg' %}" alt="" />
        </div>
        <div class="content">
          <h3>
            Mumbai February 2023
          </h3>
          <div class="price">
            $290.99 <span>$350.99</span>
          </div>
          <div class="grid--2-cols details-container">
            <p>
              <i class="fas fa-location-arrow"></i><span>Mumbai</span>
            </p>
            <p>
              <i class="fas fa-plane"></i><span>Airplane</span>
            </p>
            <p>
              <i class="fas fa-calendar"></i><span>3.2.2023</span>
            </p>
            <p>
              <i class="fas fa-calendar"></i><span>15 days</span>
            </p>
          </div>
          <a href="{% url 'vacation' %}" class="btn">book now</a>
        </div>
      </div>
      <div class="box">
        <div class="image">
          <img src="{% static 'images/img-10.jpg' %}" alt="" />
        </div>
        <div class="content">
          <h3>
            Mumbai February 2023
          </h3>
          <div class="price">
            $290.99 <span>$350.99</span>
          </div>
          <div class="grid--2-cols details-container">
            <p>
              <i class="fas fa-location-arrow"></i><span>Mumbai</span>
            </p>
            <p>
              <i class="fas fa-plane"></i><span>Airplane</span>
            </p>
            <p>
              <i class="fas fa-calendar"></i><span>3.2.2023</span>
            </p>
            <p>
              <i class="fas fa-calendar"></i><span>15 days</span>
            </p>
          </div>
          <a href="{% url 'vacation' %}" class="btn">book now</a>
        </div>
      </div>
      <div class="box">
        <div class="image">
          <img src="{% static 'images/img-11.jpg' %}" alt="" />
        </div>
        <div class="content">
          <h3>
            Mumbai February 2023
          </h3>
          <div class="price">
            $290.99 <span>$350.99</span>
          </div>
          <div class="grid--2-cols details-container">
            <p>
              <i class="fas fa-location-arrow"></i><span>Mumbai</span>
            </p>
            <p>
              <i class="fas fa-plane"></i><span>Airplane</span>
            </p>
            <p>
              <i class="fas fa-calendar"></i><span>3.2.2023</span>
            </p>
            <p>
              <i class="fas fa-calendar"></i><span>15 days</span>
            </p>
          </div>
          <a href="{% url 'vacation' %}" class="btn">book now</a>
        </div>
      </div>
      <div class="box">
        <div class="image">
          <img src="{% static 'images/img-12.jpg' %}" alt="" />
        </div>
        <div class="content">
          <h3>
            Mumbai February 2023
          </h3>
          <div class="price">
            $290.99 <span>$350.99</span>
          </div>
          <div class="grid--2-cols details-container">
            <p>
              <i class="fas fa-location-arrow"></i><span>Mumbai</span>
            </p>
            <p>
              <i class="fas fa-plane"></i><span>Airplane</span>
            </p>
            <p>
              <i class="fas fa-calendar"></i><span>3.2.2023</span>
            </p>
            <p>
              <i class="fas fa-calendar"></i><span>15 days</span>
            </p>
          </div>
          <a href="{% url 'vacation' %}" class="btn">book now</a>
        </div>
      </div>
    </div>
    <div class="pagination">
      <button class="btn">
        <svg xmlns="http://www.w3.org/2000/svg"
             class="btn-icon"
             fill="none"
             viewBox="0 0 24 24"
             stroke="currentColor">
          <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M15 19l-7-7 7-7"
          />
        </svg>
      </button>
      <a href="#" class="page-link page-link--current">1</a>
      <a href="#" class="page-link">2</a>
      <a href="#" class="page-link">3</a>
      <a href="#" class="page-link">4</a>
      <a href="#" class="page-link">5</a>
      <a href="#" class="page-link">6</a>
      <span class="dots">...</span>
      <a href="#" class="page-link">23</a>
      <button class="btn">
        <svg xmlns="http://www.w3.org/2000/svg"
             class="btn-icon"
             fill="none"
             viewBox="0 0 24 24"
             stroke="currentColor">
          <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M9 5l7 7-7 7"
          />
        </svg>
      </button>
    </div>
  </section>
  <!-- packages section ends -->
{% endblock content %}
