{% extends "__base.html" %}
{% load static %}
{% block content %}

    <div class="home swiper home-slider">
      <div class="swiper-wrapper">
        {% for termin in termini %}
        <div
          class="swiper-slide slide"
          style="background: url({{ termin.smestaj.grad.image.url }}) no-repeat"
        ></div>
        {% endfor %}

      </div>

      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>

    <section class="vacation">
      <div class="details">
        <h3 class="name">{{ aranzman.naziv }}</h3>
        <div class="info">
          <p><i class="fas fa-tag"></i><span>{{ cena }}€</span></p>
          <p>
            <ul class="lokacije">
              {% for termin in termini %}
              <li class="imegrada">
                {{ termin.smestaj.grad.name }} - {{ termin.vreme_stizanja|date:'d. m. Y.' }}
              </li>
              {% endfor %}
            </ul>
          </p>
          <p><i class="fas fa-bed"></i><span>{{ aranzman.smestaj.name }}</span></p>
          <p><i class="fas fa-globe-europe"></i><span>{{ aranzman.prevoz.name }}</span></p>
          <p><i class="fas fa-calendar"></i><span>{{ aranzman.polazak|date:'d. m. Y.' }}</span></p>
          <p><i class="fas fa-calendar"></i><span>{{ aranzman.duzina }} days</span></p>
        </div>

        <h3 class="title">accomodation</h3>

        

        <h3 class="title">description</h3>
        <p class="description">
          {{ aranzman.opis|linebreaksbr }}
        </p>
        <a href="{% url 'book' %}" class="btn">book now</a>
      </div>
    </section>

{% endblock content %}
