{% extends "__base.html" %}
{% load static %}
{% block content %}

    <div class="home swiper home-slider">
      <div class="swiper-wrapper">
        {% for termin in termini %}
        <div
          class="swiper-slide slide"
          style="background: url({{ termin.smestaj.grad.image.url|cut:'tripify/' }}) no-repeat"
        ></div>
        {% endfor %}

      </div>

      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>

    <section class="vacation">
      <div class="details">
        <h3 class="name">{{ aranzman.naziv }}</h3>
        <div class="info">
          <p><i class="fas fa-tag"></i><span>{{ cena }}€</span></p>
          <p>
            <ul class="lokacije">
              {% for termin in termini %}
              <li class="imegrada">
                {{ termin.smestaj.grad.name }} - {{ termin.vreme_stizanja|date:'d. m. Y.' }}
              </li>
              {% endfor %}
            </ul>
          </p>
          <p><i class="fas fa-bed"></i><span>{{ aranzman.smestaj.name }}</span></p>
          <p><i class="fas fa-globe-europe"></i><span>{{ aranzman.prevoz.name }}</span></p>
          <p><i class="fas fa-calendar"></i><span>{{ aranzman.polazak|date:'d. m. Y.' }}</span></p>
          <p><i class="fas fa-calendar"></i><span>{{ aranzman.duzina }} days</span></p>
        </div>

        <section class="home-packages">

        <h3 class="title">accomodation</h3>
        
        <div class="smestaji">
          {% for termin in termini %}
          <div class="smestaj">
            <div class="naziv">
              {{ termin.smestaj.name }}
            </div>
            <div class="grad">
              {{ termin.smestaj.grad.name }}
            </div>
            <div class="prevoz">
              {{ termin.smestaj.cena_prevoza }}€ - {{ aranzman.prevoz.name }}
            </div>
            <div class="tip-smestaja">
              {{ aranzman.smestaj.name }}
            </div>
            <div class="kategorija-smestaja">
              Category {{ termin.smestaj.kategorija }}
            </div>
            <div class="additional">
              <div class="internet">
                Internet
                {% if termin.smestaj.internet == True %}
                  <i class="fas fa-check"></i>
                {% else %}
                X
                {% endif %}
              </div>
              <div class="tv">
                TV
                {% if termin.smestaj.tv == True %}
                  <i class="fas fa-check"></i>
                {% else %}
                X
                {% endif %}
              </div>
              <div class="klima">
                AC
                {% if termin.smestaj.klima == True %}
                  <i class="fas fa-check"></i>
                {% else %}
                X
                {% endif %}
              </div>
              <div class="frizider">
                Refrigerator
                {% if termin.smestaj.sobni_frizider == True %}
                  <i class="fas fa-check"></i>
                {% else %}
                X
                {% endif %}
              </div>
            </div>

            
            <div class="grid">
              {% for slika in slike_smestaja %}
                {% if slika.smestaj == termin.smestaj %}
                <img src="{{ slika.img.url|cut:"tripify/" }}" />
                {% endif %}
              {% endfor %}
            </div>
          </div>
          {% endfor %}
        </div>

      </section>

      
      <h3 class="title">description</h3>
        <p class="description">
          {{ aranzman.opis|linebreaksbr }}
        </p>
        <a href="{% url 'book' %}" class="btn">book now</a>
      </div>
    </section>

{% endblock content %}
