{% extends "__base.html" %}
{% load static %}
{% block content %}

    <div class="home swiper home-slider">
      <div class="swiper-wrapper">
        <div
          class="swiper-slide slide"
          style="background: url({% static 'images/p-1.jpg' %}) no-repeat"
        ></div>

        <div
          class="swiper-slide slide"
          style="background: url({% static 'images/p-2.jpg' %}) no-repeat"
        ></div>

        <div
          class="swiper-slide slide"
          style="background: url({% static 'images/p-3.jpg' %}) no-repeat"
        ></div>
      </div>

      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>

    <section class="vacation">
      <div class="details">
        <h3 class="name">Mumbai February 2023</h3>
        <div class="info">
          <p><i class="fas fa-tag"></i><span>$290</span></p>
          <p>
            <i class="fas fa-phone"></i><a href="tel:1234567890">1234567890</a>
          </p>
          <p><i class="fas fa-plane"></i><span>Airplane</span></p>
          <p><i class="fas fa-calendar"></i><span>1-2-2023</span></p>
          <p><i class="fas fa-calendar"></i><span>15-2-2023</span></p>
        </div>
        <h3 class="title">description</h3>
        <p class="description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum
          cupiditate aliquid ipsum recusandae maxime nisi, velit eaque, libero,
          exercitationem culpa accusamus. Neque dolor quaerat modi saepe facere
          dignissimos temporibus molestias. Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Voluptatum cupiditate aliquid ipsum
          recusandae maxime nisi, velit eaque, libero, exercitationem culpa
          accusamus. Neque dolor quaerat modi saepe facere dignissimos
          temporibus molestias. Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Voluptatum cupiditate aliquid ipsum recusandae
          maxime nisi, velit eaque, libero, exercitationem culpa accusamus.
          Neque dolor quaerat modi saepe facere dignissimos temporibus
          molestias. Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Voluptatum cupiditate aliquid ipsum recusandae maxime nisi, velit
          eaque, libero, exercitationem culpa accusamus. Neque dolor quaerat
          modi saepe facere dignissimos temporibus molestias. Lorem ipsum dolor
          sit amet consectetur adipisicing elit. Voluptatum cupiditate aliquid
          ipsum recusandae maxime nisi, velit eaque, libero, exercitationem
          culpa accusamus. Neque dolor quaerat modi saepe facere dignissimos
          temporibus molestias. Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Voluptatum cupiditate aliquid ipsum recusandae
          maxime nisi, velit eaque, libero, exercitationem culpa accusamus.
          Neque dolor quaerat modi saepe facere dignissimos temporibus
          molestias.
        </p>
        <a href="{% url 'book' %}" class="btn">book now</a>
      </div>
    </section>

{% endblock content %}
