.home {
  padding: 0;
}

.home .slide {
  text-align: center;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover !important;
  background-position: center !important;
  min-height: 60rem;
}

.home .slide .content {
  width: 85rem;
  display: none;
}

.home .swiper-slide-active .content {
  display: inline-block;
}

.home .slide .content span {
  display: block;
  font-size: 2.2rem;
  color: var(--light-white);
  padding-bottom: 1rem;
  animation: fadeIn 0.2s linear backwards 0.2s;
}

.home .slide .content h3 {
  font-size: 6vw;
  color: var(--white);
  text-transform: uppercase;
  line-height: 1;
  text-shadow: var(--text-shadow);
  padding: 1rem 0;
  animation: fadeIn 0.2s linear backwards 0.4s;
}

.home .slide .content .btn {
  animation: fadeIn 0.2s linear backwards 0.6s;
}

.home .swiper-button-next,
.home .swiper-button-prev {
  top: inherit;
  left: inherit;
  bottom: 0;
  right: 0;
  height: 7rem;
  width: 7rem;
  background: var(--white);
  color: var(--black);
}

.home .swiper-button-next:hover,
.home .swiper-button-prev:hover {
  background: var(--main-color);
  color: var(--white);
}

.home .swiper-button-next::after,
.home .swiper-button-prev::after {
  font-size: 2rem;
}

.home .swiper-button-prev {
  right: 7rem;
}

.services .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 1.5rem;
}

.services .box-container .box h3 {
  font-size: 1.7rem;
  padding-top: 1rem;
}

.services .box-container .box {
  padding: 3rem 2rem;
  text-align: center;
  background: #eee;
  cursor: pointer;
  color: #333;
}

.services .box-container .box:hover {
  background: var(--black);
  color: #eee;
}

.services .box-container .box img {
  height: 7rem;
  width: 100%;
}

.home-about {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.home-about .image {
  flex: 1 1 41rem;
}

.home-about .image img {
  width: 100%;
}

.home-about .content {
  flex: 1 1 41rem;
  padding: 3rem;
  background: var(--light-bg);
}

.home-about .content h3 {
  font-size: 3rem;
  color: var(--black);
}

.home-about .content p {
  font-size: 1.5rem;
  padding: 1rem 0;
  line-height: 2;
  color: var(--black);
}

.home-packages {
  background: var(--light-bg);
}

.home-packages .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}

.home-packages .box-container .box {
  border: var(--border);
  box-shadow: var(--box-shadow);
  background: var(--white);
}

.home-packages .box-container .box:hover .image img {
  transform: scale(1.1);
}

.home-packages .box-container .box .image {
  height: 25rem;
  overflow: hidden;
}

.home-packages .box-container .box .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: 0.2s linear;
}

.home-packages .box-container .box .content {
  padding: 2rem;
  text-align: center;
}

.home-packages .box-container .box .content h3 {
  font-size: 2.5rem;
  color: var(--black);
}

.home-packages .box-container .box .content p {
  font-size: 1.5rem;
  color: var(--light-black);
  line-height: 2;
  padding: 1rem 0;
}

.home-packages .load-more {
  text-align: center;
  margin-top: 2rem;
}

.home-offer {
  text-align: center;
}

.home-offer .content {
  max-width: 70rem;
  margin: 0 auto;
}

.home-offer .content h3 {
  font-size: 3.5rem;
  text-transform: uppercase;
  color: var(--black);
}

.home-offer .content p {
  font-size: 1.5rem;
  color: var(--light-black);
  line-height: 2;
  padding: 1rem 0;
}
